<!DOCTYPE html>
<html>
<head>
    <title>Welcome page bet</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
</head>
<body>
    <div>My name is {{yourname}}</div>
</body>
</html>