<!DOCTYPE html>
<html>
<head>
    <title>Title greeting</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
</head>
<body>
<div> Список сообщений</div>
    {{#messages}}
        <div>
            {{id}}
            {{text}}
            {{tag}}
        </div>
    {{/messages}}
</body>
</html>